@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}
html {
  scroll-padding-top: 50px; /* Adjust 100px to match your header height */
}
@keyframes floatText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-floatText {
  animation: floatText 1s ease-in-out infinite;
}
.rm {
  @apply py-8 sm:py-10 md:py-14 lg:py-16;
}
.h2t {
  @apply text-[28px] sm:text-[32px] md:text-[35px] lg:text-[40px];
}
