@import "tailwindcss";
body {
  font-family: "Inter", sans-serif;
}
html {
  scroll-padding-top: 50px;
}
@keyframes floatText {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.animate-floatText {
  animation: floatText 1s ease-in-out infinite;
}
.rm {
  @apply py-8 sm:py-10 md:py-12 lg:py-14;
}
.h2t {
  @apply text-[24px] sm:text-[32px] md:text-[35px] lg:text-[40px];
}
.max {
  @apply max-w-screen-2xl mx-auto;
}
@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 10px rgba(91, 210, 83, 0.6), 0 0 20px rgba(91, 210, 83, 0.3);
    opacity: 0.8;
  }
  50% {
    box-shadow: 0 0 20px rgba(91, 210, 83, 0.9), 0 0 40px rgba(91, 210, 83, 0.6);
    opacity: 1;
  }
}
@keyframes textShine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(200%);
  }
}

.text-shine {
  animation: textShine 2.5s linear infinite;
}
